
body {
    background-color: #21252b;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
}

nav.navbar-doc {
    border-radius: 1px;
    border-color: #21252b;
    background-color: #21252b;
    color: #ddd;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0px;
    /* box-shadow: 0px 0px 25px #ddd; */
}

.nav.navbar-nav.navbar-right a {
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
    color: #ddd;
    font-weight: 600;
}

#navbar a:hover {
  color: #000;
}

#navigator {
  font-size: 18px;
  padding: 20px;
  font-family: 'Source Code Pro';
}

#browser {
  margin-top: 70px;
}

#admin-table {
  background-color: #282c34;
  border-collapse: separate;
  width: 100%;
  font-family: 'Source Code Pro';
}
#admin-table td,th {
  padding: 10px;
  vertical-align: top;
}
#admin-table th {
  background-color: #ccc;
  color: #21252b;
}

span,td.object-id {
  color: #73cddd;
}
td.object-type {
  color: #e59bfa;
}

#value {

}

.json-key {
  color: #61afef;
}
.json-value {
  color: #d09965;
}
.json-string {
  color: #98c379;
}

a {
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #fff;
  text-decoration: none;
}


a.reference {
    font-weight: 600;
}

a.reference-type {
    font-weight: 600;
    font-size: 14px;
}

a.reference-enum {
    color: #9966aa;
}

a.details {
    font-size: 14px;
}

a.anchor {
    padding-top: 60px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 400;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    color: #000;
}

h5 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #61afef;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

code {
    color: #515151;
    background-color: #f8f8f8;
    border-style: none;
    border-radius: 0px;
}
