<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Corto</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300' rel='stylesheet' type='text/css'>
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-pagetop" style="border-radius: 0px; position: fixed; z-index: 999; width: 100%">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"   aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="./images/cortologo_light.png" width="100px"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="browser" class="container-fluid">
      <div id="navigator" class="col-md-12"></div>
      <div id="data">
        <div id="scope" class="col-md-7"></div>
        <div id="value" class="col-md-5"></div>
      </div>
    </div>

    <script type="template/text" id="object">
        <tr class="object <%= alt %>" ondblclick="corto.request(corto.parent + '/' + '<%-id%>')" onclick='corto.updateValue(<%= JSON.stringify({value: value}) %>)'>
          <td class="object-id"><%= corto.link(corto.parent + "/" + id, id) %></td>
          <td class="object-type">
            <% if (type.substring(0, 1) != "/") { %>
              <%= corto.link("/corto/lang/" + type, type) %>
            <% } else {%>
              <%= corto.link(type, type) %>
            <% } %>
          </td>
          <td class="object-value"><%= corto.json.prettyPrint(value, 100) %></td>
        </tr>
    </script>

    <script type="template/text" id="objectTable">
      <table id="admin-table">
      <tr><th>id</th><th>type</th><th class="object-value">preview</th></tr>
        <%
        var i = 0;
        if (objects.length) {
        _.each(objects, function(item, key, list) {
          i ++;
        %>
        <%= objectTemplate({
          id: item.id,
          type: item.meta.type,
          value: item.value,
          alt: i % 2 ? "alt" : ""}) %>
      <% }); } else { %>
          <tr class="object"><td>No objects</td><td></td><td></td></tr>
      <% }; %>
      </table>
    </script>

    <script type="template/text" id="objectTableLoading">
      <table id="admin-table">
        <tr><th>id</th><th>type</th><th class="object-value">preview</th></tr>
        <tr><td>Loading...</td><td></td><td></td></tr>
      </table>
    </script>

    <script type="template/text" id="property">
      <tr <%if(i%2){%>class="alt"<%}%>><td>
        <%="&nbsp;".repeat(indent?indent-1:indent)%>
        <% if (indent) {
             if (typeof(key) == "number") { %>
               [<span class="json-key"><%=key%></span>]
          <% } else { %>
              .<span class="json-key"><%=key%></span>
          <% }
          } else {%>
            <span class="json-key"><%=key%></span>
        <%}%>
      </td><td>
      <% if (item instanceof Object) { %>
        { ... }
      <% } else { %>
        <% if (item && item.constructor === String) { %>
          <span class="json-string">&quot;<%} else {%>
          <span class="json-value">
        <%}%><%= item %><% if (item && item.constructor === String) { %>&quot;<%}%>
        </span>
      <% } %>
      </td></tr>
      <% if (item instanceof Object) { %>
        <%_.each(item, function(p, key, list) { i ++; %>
          <%= property({
            key: key,
            item: p,
            property: property,
            indent: indent + 1,
            i: i}) %>
        <% }) %>
      <% } %>
    </script>

    <script type="template/text" id="metaTable">
      <table id="admin-table">
        <tr><th>property</th><th>value</th></tr>
        <tr><td><span class="json-key">name</span></td><td><%= name %></td></tr>
        <tr><td><span class="json-key">type</span></td><td><%= name %></td></tr>
      </table>
    </script>

    <script type="template/text" id="valueTable">
      <table id="admin-table">
        <tr><th>property</th><th>value</th></tr>
        <% var i = 0;
           _.each(value, function(item, key, list) { i ++; %>
          <%= property({key: key, item: item, property: property, indent: 0, i: i}) %>
        <% }) %>
      </table>
    </script>

    <script type="template/text" id="valueTableLoading">
      <table id="admin-table">
        <tr><th>property</th><th>value</th></tr>
        <tr><td>Loading...</td><td></td></tr>
      </table>
    </script>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="./js/admin.js"></script>
  </body>
</html>
